extends layout

block content
  .p-3.p-md-5
    h1 Lista de libros

    table.table
      tr
        th Nombre
        th Descripción
        th Editorial 
        th Fecha
        th Descargar archivo
        th Borrar
      each libro in libros
        tr
          td=libro.nombre
          td=libro.descripcion
          td=libro.editorial
          - let fecha = new Date(libro.createdAt)
          - let fechaFormateada = fecha.getDate()+"/"+ (fecha.getMonth()+1) +"/"+ fecha.getFullYear()
          td=fechaFormateada
          td
            a(href="/books/download/"+libro._id)
              button.btn.btn-outline-success.btn-sm.me-2(type="button")=libro.originalName
          td
            a(href="/books/delete/"+libro._id)
              button.btn.btn-outline-danger.btn-sm.me-2(type="button") Eliminar
